[2019-02-12 01:41] 8BitCerberus opened #1 "Request: Would it be possible to add support for Steam Controller?"
I just found this and I'm very appreciative of the Linux support! I'll be using this for my PS4 and 8Bitdo controllers.

I've been looking for a Linux-friendly HUD for my Steam Controller, on Windows I use VSCView: https://github.com/Nielk1/VSCView and I wonder if it would be possible to use that as a springboard to get an idea of how to display the touchpad and gyro inputs?

[2019-02-17 22:10] RetroWeeb commented on #1
I'm sorry I didn't see your ticket. You're the first person to do this correctly and not just ask me directly on discord! :)

I don't have a Steam Controller to test but I have a friend I can borrow from, I can look into it and put it on the roadmap. Gyros are supported in regards to the engine (chromium/electron) but I haven't implemented them into a theme level.

Can you send me screenshots of y

[2019-02-17 22:11] RetroWeeb commented on #1
I've added to the roadmap. Send me some info and I'll try and get my hands on a steam controller and we'll go from there.

[2019-02-23 21:29] RetroWeeb commented on #1
@8BitCerberus I have been unable to get my hands on a steam controller.

Cheapest used units are 35 or higher and to be completely honest I'm not about to go out and spend that money on a controller I won't use (I've used one, I don't like them, also I'm not really making my money on my application, in fact between server costs- it's costing me).

I've added it to the roadmap, if I end up getting

[2019-02-23 21:29] #1 closed

[2019-02-24 00:03] 8BitCerberus commented on #1
Hey, no problem. Definitely understandable not wanting to spend money on something you won't be using yourself. I'll see if I can get my hands on a spare one I can send to you. In the meantime, since you requested it earlier I'm attaching a screenshot so you can see what it looks like when running. It's a pretty simple setup, just a graphic of the controller on a green (or customizable color) back

[2019-02-28 21:45] Readek commented on #1
I'm also interested in SC support! There's another project that kind of does this called [sc-controller](https://github.com/kozec/sc-controller). I don't know if its still useful, but you can look there how its UI looks like. Also, I imagine implementing SC support won't be as easy as the other ones, so you can ask for help there.

And thank you for supporting Linux!

[2019-04-11 05:08] odysseywestra opened #2 "[Question] Open to Donations?"
It would be awesome if you add a Patron or just a Donation button so we can at least help ya with the server costs at least. I sure some twitch streamers would gladly support ya too.

[2019-04-11 14:28] RetroWeeb commented on #2
Hey @odysseywestra thanks for reaching out! I originally had a Patreon but closed it because it didn't align well with me in regards to ideals of Open Joystick Display. Here is the exact notice I posted when I closed that feature:

So TL;DR there won't be any donation feature in the future. I appreciate the willingness to help, but have come to accept financial responsibility for the project.

I k

[2019-04-11 14:28] #2 closed

[2019-05-03 13:55] goldug opened #3 "NES controller with Retrobit to USB converter axis fail"
Hello!
This app is almost exactly what I've been looking for, but there is one problem. I'm using an original NES controller plugged in to my Retrobit to USB converter (NES to USB) and the d-pad isn't correctly interpreted.
This method makes the d-pad function like a stick (x=left and right, y=up and down), but Open-Joystick-Display only recognizes when I push right and down, never left and up. I'

[2019-05-03 20:14] RetroWeeb commented on #3
Hey @goldug so in the most recent version of OJD I have a fix for the infinity problem by toggling the infinity setting which will check for -inf and inf. Did this not work out for you? Also, a video of the problem would help alot so I can help you build a configuration that works or identifiy how to make a fix. Thanks!

![image](https://user-images.githubusercontent.com/46404303/57163156-5d6ab980

[2019-05-10 00:41] RetroWeeb commented on #3
@goldug it's been nearly a week with no response so I'm going to close this ticket. Please feel free to respond back to this ticket if you still need help with your configuration. Thanks!

[2019-05-10 00:41] #3 closed

[2019-05-10 04:25] 5kwatts opened #4 "Open Joystick Display Server Config/Issue"
Hi,

Thanks for this wonderful application.  I stream with 2 pcs and trying to get my input to display on the encoding pc.  I the display server on my gaming and the controller is connected (green circle) with the port displayed for 56709.  When I put that IP on the encoding display for the input driver and click reconnect, my controller isn't being recognized.  I've temporarily disabled the firew

[2019-05-11 15:35] RetroWeeb commented on #4
Good Morning @5kwatts,

That is odd. For funsies, can you open the OJD client on the same computer as the server and connect to 127.0.0.1:56709 and see if that works locally? If it does that means there is a network/firewall issue and I can help you attempt to debug it. If not, I'll have to figure out what is up (more than likely it doesn't like the port number).

Thanks!

[2019-05-11 21:16] 5kwatts commented on #4
Sure!  I'll give it a try later today or tomorrow and let you know.

Thanks

[2019-05-12 21:15] 5kwatts commented on #4
Hey Retro,

I tried it with my local IP:56709 that the server displays and 127.0.0.1:56709, and both of them tell me no joystick is connected.  When I click reconnect, should the bottom input tester display the controller, or do I have to press a button on my controller for it to show up?  I tried both ways and it doesn't display anything.  The server has a green circle on server/controller status

[2019-05-12 22:01] RetroWeeb commented on #4
Just to be clear, you followed these steps:

- Installed OJD Server on your Encoding Machine (For Testing)
- Opened OJD Server (on Encoding Machine) and activated the Joystick and Server (Two Green lights with the controller)
- Opened the OJD Client (on Encoding Machine) and went to Driver> Network > IP: 127.0.0.1:56709 > Reconnect

Just want to make sure those steps were followed before moving fo

[2019-05-13 03:55] 5kwatts commented on #4
Those are the steps that I did, but I did them on my gaming machine, not encoding machine but the behavior is the same.  My OS is Win 10.  The IP address in the OJD Server doesn't display 127.0.0.1:56709, it's gaming machine's IP.  Is that an issue?  Also the controller I am using is hori fighting commander, but it is recognized as an xbox controller.  Not sure if that is an issue or not and the c

[2019-05-13 23:04] RetroWeeb commented on #4
Alright I will hold onto this ticket until I can figure out a better solution. My gut says the port number or the device it's binding to is the cause of the issue. I will look into it when I get time. Thanks!

[2019-05-14 02:52] 5kwatts commented on #4
No worries.  whatever I can do to help or help debug I'll be more than happy to help you out!  :)

[2019-06-10 08:39] AmenAnthem opened #5 "Open Joystick Display hogs CPU"
After pressing a button Open Joystick Display starts using about 20% of my CPU while not having pressed a button it sits at 1%. It uses the most CPU out of any program on my PC by far.
If you need any further information let me know.

[2019-06-10 10:55] RetroWeeb commented on #5
@AmenAnthem

- What are the specs of your machine?
- Are you using the local gamepad (chromium), retrospy, or network driver?
- What operating system + version are you running?
- What version of OJD are you using?

Unfortunately I don't experience this issue myself and I use OJD nearly every day for my streams so some color on what your configuration is may help us figure out what the culprit is.

[2019-06-10 12:21] AmenAnthem commented on #5
@RetroWeeb

- CPU: i5-6500, 16GB RAM, GTX 960 4GB
- I'm using a local gamepad (Dualshock 4 controller wiith DS4Windows)
- Windows 10 Home 64 Bit Build 17134
- 2.2 64 Bit

[2019-06-11 22:37] RetroWeeb commented on #5
@AmenAnthem I just happen to have that very processor + GPU configuration in the house in another computer. I will do some benchmarking and return. Sorry for the delayed response.

[2019-06-11 23:08] RetroWeeb commented on #5
@AmenAnthem so I do see this on the i5- further research indicates it is because I have hardware acceleration disabled so that the application will work in OBS/XSplit in Windows (Linux and OSX does not have this issue but I have it disabled accross the board for support sake). If I enable HW acceleration the CPU usage cuts in half, however it renders black or transparent in OBS when using window c

[2019-06-12 08:19] AmenAnthem commented on #5
@RetroWeeb
Thanks for looking at the issue.
Upping the polling rate did lower the CPU usage, unfortunately not by much.
Currently this is a workaround I can live with, I still prefer OJD to gamepadviewer.com because of the hardware accelaration issue. Having a viewer as a standalone app is more convinient :)
Please let me know if there are any news regarding this issue.

[2019-06-12 18:07] RetroWeeb commented on #5
Thanks for following up! For now I will close this ticket, if anything changes I will make sure to add a comment here in the future.

[2019-06-12 18:07] #5 closed

[2019-06-20 00:49] Carlof13 opened #6 "New overlay"
Can you make a switch pro controller overlay for O J D please

[2019-06-28 13:06] JapanYoshi opened #7 "Custom overlay: "Couldn't load theme style list""
I'm trying to code a custom compact overlay with my own branding, and I'm trying to test the code, but when I try to select and load the overlay, the console gives me this error:

[code]

I *think* I've followed all the steps in the [developer's guide](https://ojdproject.com/developer-guide#theme-styles), but in case this is a C2KI error, I've attached my draft so far.
[haleyhalcyon.zip](https://g

[2019-06-29 14:47] RetroWeeb commented on #7
@JapanYoshi can you give me a screenshot of what you're attempting to do (the design) along with your files so I can debug it. Thanks!

[2019-06-29 14:48] RetroWeeb commented on #6
@Carlof13 I'm working on my own version of it as well as a Pokken controller. I'm currently in middle of a redevelopment of OJD and it may not be out for a bit, but if I can get some extra cycles in between that and life I will add it to the current codebase.

[2019-06-29 14:48] #6 closed

[2019-06-29 14:49] RetroWeeb commented on #7
Never mind I didn't see your link, let me look at it.

[2019-06-29 14:53] RetroWeeb commented on #7
`{
	"id": "haleyhalcyon",
	"name": "HaleyHalcyon's Xbox",
	"author": "HaleyHalcyon",
	"version": "1.0",
	"copyright": "",
	"license": "BSD 4-Clause Attribution",
	"website": "https://ojdproject.com"
}`
Just remove the styles attribute since you're not doing multiple styles. That will fix your issues. Styles need to have their own css named after them.

[2019-06-29 14:53] #7 closed

[2019-07-01 06:54] JapanYoshi commented on #7
Alright, thanks, that seems to have fixed the issue!

[2019-07-08 03:08] TBRGo2Sl3ep opened #8 "Stick Not Working"
I've set up all of the buttons for my fight stick, but the actual stick will not register to where I can set axis values. The program detects my stick, but won't register the axis i set a value for. I hope that made sense....

[2019-07-08 21:02] RetroWeeb commented on #8
Can you post a video or a screenshot of you moving your stick in OJD showing the tester? I want to see what the tester shows. If the stick doesn't register in the tester panel that would be interesting.

What fight stick are you using?

[2019-07-10 19:44] PhoenixSMM opened #9 "Switch Problems..."
Honestly I don't know if this is fixable or if there's a way around this. This is probably not the right place to put this either... but I would appreciate it if you can help me in any way :)
I have done a few speedruns of SMB Any% on my Nintendo Switch, and I would like to have input display with it. I can connect my Switch Pro Controller to my Laptop, and OJD works fine... except I can't get the

[2019-07-11 12:08] RetroWeeb commented on #8
I'm closing this ticket due to inactivity. If you any any extra information let me know, I'm happy to help.

[2019-07-11 12:08] #8 closed

[2019-07-11 18:14] RetroWeeb commented on #9
Technically not possible on the dual-connection unfortunately because of the way both USB and/or Bluetooth works. However, I am in the process of working with one of the developers with the Switch hacking community to be able to send joycon/input commands over the network via your switch. But that will come later.

In regards to using just straight USB for your Switch Pro controller the d-pad does

[2019-07-14 10:32] PhoenixSMM commented on #9
Thank you! :D

[2019-07-14 10:34] PhoenixSMM commented on #9
Thanks for the help! Really good to know.
However, the link doesn't work for me...

[2019-07-14 15:41] Bluesurfer6 opened #10 "Switching players"
Is there a way to switch between different player's controllers? I want to use 2 controllers and display them both using 2 instances of Open Joystick-display.

[2019-07-15 00:53] RetroWeeb commented on #10
That is a good point- you can't currently do it. Let me see if I can get a fix in this week to support multiple controllers.

[2019-07-15 02:41] RetroWeeb commented on #10
@Bluesurfer6 So I got it working (screenshot attached). If you let me know what OS and what bit (64 or 32) you're on I can send you a beta build and see if it works for you.

![Screenshot_2019-07-14_22-40-28](https://user-images.githubusercontent.com/46404303/61193289-834aef00-a688-11e9-901b-5cd99f5115f3.png)

[2019-07-15 07:05] Bluesurfer6 commented on #10
I'm on Windows 10 64 bit

[2019-07-15 22:36] RetroWeeb commented on #10
@Bluesurfer6 well apparently my builds are broken- however after a lot of throwing things, I got it to build- please test this latest build and get back to me. Thanks! https://drive.google.com/file/d/1pc5dSnsVW4IAxytQOaqvQCgqmEsc9KJI/view?usp=sharing

[2019-07-16 00:57] RetroWeeb commented on #10
I actually just released it after doing some testing myself and with others, you can just download the latest version here: https://ojdproject.com/downloads/windows/stable/x64/open-joystick-display-2.3-x64-windows.zip

[2019-07-16 01:01] RetroWeeb commented on #9
@PhoenixSMM let me see if I can get a video on how to configure it. I'm mostly a Linux guy and the Pro Controllers and the Pokken controllers work fine over here in Linux land. I'll get back to you and see. Also with the latest version of OJD I released some Pro Controller themes so check them out if you're looking for some switch stuff.

[2019-07-16 01:16] RetroWeeb commented on #4
@5kwatts so I know it's been awhile, but I may have figured out the issue. If I get you a build are you willing to test again?

[2019-07-16 12:40] comatrix44 opened #11 "High CPU and D-Pad not working"
Hi,
first of all I wish to thank you about the great program.
As the title says, I have a high CPU usage reaching 15%, even more then OBS itself that is used to stream (with all the implementations included and believe me, there are A LOT).
I searched and read some thread about that, but no solutions found unfortunately (yes I adjusted the Poll Rate, but that just has a low noticeable decrease).
M

[2019-07-16 13:06] RetroWeeb commented on #11
Good Morning @comatrix44,

High CPU usage complaints has been a problem with OJD and part of the reason I'm in middle of a rewrite in an attempt to reduce the amount of CPU cycles this application uses.

Truth be told, I'm really only seeing about 10% total CPU usage while active on my 4790k (Poll 10ms)- but it can vary. Raising the poll rate from 20ms to 30-40ms does drop the CPU usage from anywh

[2019-07-16 14:08] comatrix44 commented on #11
OK here it is a video link about what I am encountering, I hope it helps and please don't kill me, I'm trying to find a solution https://youtu.be/6I9rds2rZww

[2019-07-16 14:48] RetroWeeb commented on #11
@comatrix44 nice video! I have a PS3 controller here I can take a look at it after work. Exactly which driver are you using for the PS3 so I can build you a working configuration? In general using the triggers in the way to go for this, but it may take some work.

[2019-07-16 15:09] comatrix44 commented on #11
Bluetooth Controller MallTEK 2.4GHz Bluetooth Gamepad
PC Microsoft Drivers 10.0.17134.648

May be because it is a bluetooth controller? Perhaps this is the issue...

[2019-07-16 15:47] RetroWeeb commented on #11
I don't know that type of controller or brand, Amazon yields some results but no exact matches. Bluetooth does work for PS4 and Xbox One controllers so I doubt it's that. This may just be a result of using the chromium driver. Let me think on this and get back to you, unfortunately without that exact controller it's hard for me to replicate.

[2019-07-16 16:33] RetroWeeb commented on #10
I'm going to close this out, if you have any other concerns just respond to this ticket. Thanks!

[2019-07-16 16:33] #10 closed

[2019-07-16 16:48] RetroWeeb commented on #11
https://html5gamepad.com/

@comatrix44  Can you use this tool in your browser and make a video of you holding dpad up, dpad down, dpad left, dpad right in this order. (Call it out if you want to) and send it to me. That will help me figure out a good working configuration for you.

[2019-07-16 18:52] comatrix44 commented on #11
Here there is the video, and thanks for your support:

https://youtu.be/ZuRUnYHabGY

You have to wait a little time that YouTube can elaborate the video in HD, otherwise in in a really low resolution (360p I believe)

[2019-07-16 19:07] RetroWeeb commented on #11
I will work on this issue this evening and get back to you. Thank you for the video!

[2019-07-16 23:04] RetroWeeb commented on #11
Here is a new beta build for you to try: https://drive.google.com/file/d/15fTC7k9gw3GWyn_AN48WqtoJwSdzN5-A/view?usp=sharing

Here are some instructions in video format! Let me know how this goes.
https://www.youtube.com/watch?v=8CgaSgfpzSE&feature=youtu.be

[2019-07-16 23:04] RetroWeeb commented on #11
Here is a new beta build for you to try:  @comatrix44 https://drive.google.com/file/d/15fTC7k9gw3GWyn_AN48WqtoJwSdzN5-A/view?usp=sharing

Here are some instructions in video format! Let me know how this goes.
https://www.youtube.com/watch?v=8CgaSgfpzSE&feature=youtu.be

[2019-07-16 23:20] RetroWeeb commented on #4
https://drive.google.com/file/d/15fTC7k9gw3GWyn_AN48WqtoJwSdzN5-A/view?usp=sharing

Here is a beta build if you want to try it out. This should fix your network troubles. We found this out while doing some Nintendo Switch -> OJD networking testing. Let me know if anything comes up, otherwise I'm closing this ticket.

Thanks!

[2019-07-16 23:20] #4 closed

[2019-07-16 23:49] RetroWeeb commented on #11
https://drive.google.com/file/d/1OWtDJeWZd28Pn6Rxfe3A-XIu1JZDAgpE/view?usp=sharing

Here is a much more stable build to use instead @comatrix44

[2019-07-16 23:50] RetroWeeb commented on #9
@PhoenixSMM
Try this new build of OJD: https://drive.google.com/file/d/1OWtDJeWZd28Pn6Rxfe3A-XIu1JZDAgpE/view?usp=sharing

And here are some video instructions (they were for someone else, but with a very similar issue- just follow along):
https://www.youtube.com/watch?v=8CgaSgfpzSE&feature=youtu.be

[2019-07-17 03:34] comatrix44 commented on #11
OMG!!! It works!!!
I think you have fixed ALL kind of problems and issues with ANY existing controller with that new trigger section, simply because it is a configurable data for any kind of input, that means that now OJD is compatible with ALL kind of Controllers/Joystick/Input in ANY Operating Suystem receives, even the weirdest ones.
Congratulations, really.

[2019-07-17 11:44] RetroWeeb commented on #6
@Carlof13 the latest build of OJD now has a pro controller theme.

[2019-07-17 11:47] RetroWeeb commented on #11
I'm glad I could help! I'm going to close out this ticket but keep an eye out because I will come back to it and tag you once more to let you know when the stable build is out. In the meantime feel free to keep using the one I provided for you (truth be told the final build will just have a couple of extra themes so nothing criticial).

Thanks!

[2019-07-17 21:14] RetroWeeb commented on #11
@comatrix44 latest build is live on the website. Feel free to download 2.4 stable.

[2019-07-17 21:38] RetroWeeb commented on #9
This has gone live, please download the latest stable (2.4) from the website. For now I will close this ticket, if it helps you please let me know. Thanks!

[2019-07-17 21:38] #9 closed

[2019-07-18 03:13] comatrix44 commented on #11
Nice, thank you.
There is a way to create a backup compatible from the previous/beta versions? I mean to export the Joystick configurations, otherwise we are always obligated to recreate every single Joystick every time a new version is released.

[2019-07-18 15:20] comatrix44 commented on #11
Thanks a lot, but think about adding that "Save" feature, if you think you can, it is not necessary but easier for less experienced users ^_^

[2019-07-18 15:46] RetroWeeb commented on #11
@comatrix44 that is going to come with the rewrite in a few months. I think it's valuable to be able to backup your configurations if you're going from PC to PC.

[2019-07-18 15:48] RetroWeeb commented on #11
One other thing, if you have time, could you please leave a review of OJD on the OBS forums. It goes a long way with ranking and getting the word out: https://obsproject.com/forum/resources/open-joystick-display.750/

[2019-07-18 18:43] comatrix44 commented on #11
Even more, I'm going to make a video tutorial if you wish, with your approval of course, talking about all the engagement you are putting in this piece of jewel that is OJD and, of course, going into simple steps of the software for every user, starting from this thread ^_^ (nothing about programing but showing the software implementations).
Let me Know

[2019-07-18 20:27] RetroWeeb commented on #11
Go for it! Thank you so much :D

[2019-07-18 20:27] #11 closed

[2019-07-26 16:46] sorenbug opened #12 "Swap JoyCon colors"
I use the green and pink joycons, however since mine are imported from Japan the pink is + and the green is -. Currently in the software it's in the US/EU ordering:
![image](https://user-images.githubusercontent.com/7751296/61967328-e6daf380-af89-11e9-8a5b-223e0c48d898.png)
I'd like to switch them, but I feel it's better to have a universal solution for switching joycon colors.

Also, having arbit

[2019-07-26 16:54] sorenbug opened #13 "Streamer style for Switch controllers"
I plan to actually try and do this but I figure I'd open an issue for it beforehand.

[2019-07-26 18:11] sorenbug opened #14 "yarn start produces blank window"
![image](https://user-images.githubusercontent.com/7751296/61972222-e5afc380-af95-11e9-8ca8-ab4d6c0cef9b.png)

I'm on EndeavourOS (based on Arch) x86_64, I did `yay -S electron yarn` and then tried to run `yarn start` but I get this.

I'm trying to be able to run on git repo instead of the packaged version.

<details>
  <summary>Console log:</summary>

![image](https://user-images.githubuserconten

[2019-07-26 20:17] RetroWeeb commented on #14
You need to rebuild electron because the serial port driver needs a binary compiled. You need make and gcc/clans installed to do this, but the command order is simply

Do this once:
yarn install
gulp rebuild-electron

Then afterwards going forward:
Yarn start

Let me know if that helps.

[2019-07-26 20:18] RetroWeeb commented on #13
I already have them in the works but sure a ticket is fine.

[2019-07-26 20:19] RetroWeeb commented on #12
All themes are svgs, feel free to take them from source and edit them in Inkscape to your own custom theme. I will take this into account when I release some new themes shortly.

Thanks

[2019-07-26 20:19] #12 closed

[2019-07-26 20:21] RetroWeeb commented on #13
Also note that if you’re going to make code modifications there is a massive rewrite in react happening at the moment, you’re free to make pull requests but I may end up merging them into the new architecture

[2019-07-26 22:08] sorenbug commented on #14
It opens. Thank you!

[2019-07-26 22:08] #14 closed

[2019-07-29 22:10] RetroWeeb commented on #13
@sorenbug version 2.5 has been released. It has your alternate colored joycons and streamer theme for Nintendo Switch. Let me know if this is to your liking.

Thanks!

[2019-07-29 22:10] #13 closed

[2019-07-30 22:26] sorenbug commented on #13
Awesome! I was too busy to work on something, thanks for letting me know it's been done though!

[2019-08-01 07:58] Tomshiii opened #15 "Pro Con streamer theme"

[2019-08-01 07:58] #15 closed

[2019-08-01 08:06] Tomshiii opened #16 "Pro Con Streamer Theme"
_(I accidentally submitted this before with only a title that was not good oof)_
Didn't want to be a pain and come across as picky or annoying but with the addition of the joycon streamer theme I was wondering if it would be possible to add a pro con version?
Super mario odyssey speedrunners are starting to homebrew their switches to add input display and a large majority of us use procon, a slick

[2019-08-01 12:41] RetroWeeb commented on #16
@Tomshiii I actually forgot to add it, I think this small fix is worthy of a patch since I see that the NX server software is gaining popularity. I'll try to get 2.5.1 out this evening and that will resolve your concerns.

[2019-08-02 15:09] RetroWeeb commented on #16
@Tomshiii I got caught up yesterday, however it's done (screenshot) I'll get a build out this evening. Comes in the standard set of colors the other streamer colors come into. If you want I can build you a custom theme bundle you can modify the CSS colors to your liking.

![Screenshot_2019-08-02_11-08-53](https://user-images.githubusercontent.com/46404303/62379909-ec9a8100-b515-11e9-9d97-22f9f8bbd

[2019-08-02 23:08] Tomshiii commented on #16
If you could hit me up with something like that, that would be amazing, I could share that around the community. No rush at all though. This looks incredible btw!

[2019-08-03 00:22] RetroWeeb commented on #16
@Tomshiii the theme is live on https://ojdproject.com/, 2.5.1 has your fixes. However I'm not going to close this ticket out yet, let me get you a custom theme bundle you can use and modify to your liking.

[2019-08-03 00:38] RetroWeeb commented on #16
https://ojdproject.com/downloads/themes/custom-switch-streamer.zip

@Tomshiii  here is your custom theme pack template. It includes the same SVGs and CSS files as the OJD bundle however only pink and white and in its own namespace (both joycons and pro).

**Installation:**
In the mapper sidebar simple point it to the themes folder that you have extracted from the ZIP file. Should show up under the

[2019-08-03 00:38] #16 closed

[2019-08-14 17:06] bunder2015 opened #17 "Gentoo Linux Issue - Xbox 360 Controller Not Detected"
Hello, I'm not sure if this is something on my end, but for some reason OJD doesn't detect my 360 controller on linux. edit: I'm using the in-kernel xpad driver.

[code]

The controller seems to work in steam and steam games but OJD doesn't even see it.  I also tried a web-based controller display and it seemed to have the same problem, so this could be my fault.  If you need more information, let

[2019-08-14 17:28] KernelZechs commented on #17
@bunder2015 My 360 controller and Linux is my primary work environments so I do know for a fact they work. It appears from your dmesg log that you are using USB and it doesn't look like the dongle and it looks like it has loaded. So that leaves me to believe that it could be user group permission issues (since you say it doesn't work in chromium or firefox), the version of Linux you are running, o

[2019-08-14 17:32] KernelZechs commented on #17
Also, If you are running arch or gentoo I need to know the install process you followed because they are 'build as you want' distros I need to replicate down to what you decided to install and not install so I can effectively replicate this environment.

[2019-08-14 17:37] bunder2015 commented on #17
Thanks for getting back to me.  I am actually using gentoo (rolling), with kernel 4.19.0 (I can upgrade to 4.19.66 if it helps).  I don't use systemd, but I am using openrc+eudev.

[code]

Now that you mention it, I'm not in the input group.  Let me try that and get back to you.

Thanks again

[2019-08-14 17:51] bunder2015 commented on #17
No dice unfortunately.  I just noticed I don't have /dev/js0 either.  Maybe that's the problem.  I'll keep poking around.

Thanks again

[2019-08-14 17:54] KernelZechs commented on #17
In the meantime, can you provide a dump of your kernel config so I can spend some time spinning this up. I needed to build a gentoo environment anyways.

[2019-08-14 18:00] bunder2015 commented on #17
Sure no problem.

https://gist.github.com/bunder2015/7fc7c37ab794c14148d59ecd51ba0aeb

[2019-08-14 18:17] bunder2015 commented on #17
Okay, I enabled CONFIG_INPUT_JOYDEV and its working now.  How steam worked without it this whole time I don't know.  Sorry for the trouble.

[2019-08-14 18:17] #17 closed

[2019-08-14 18:28] KernelZechs commented on #17
Good to know, thanks for looking into it.

[2019-08-18 23:38] FixerFour opened #18 ""Fight Sticks" theme does not allow directional inputs on Fixed Triggers"
example:
https://i.imgur.com/3vhTdDQ.png

https://i.imgur.com/Ul6FwrG.png

[2019-08-19 01:36] KernelZechs commented on #18
I’m currently out I will take a look at this in an hour or two and get back to you. In the meantime can you provide the following:

What version of OJD you are running
What operating system version
What controller or PCB you are using for your fight stick
And a video would be welcomed for debugging purposes.

Thanks

[2019-08-19 01:57] FixerFour commented on #18
Windows 10
It's a Hitbox, I'll have to research the PCB.
Just downloaded the app today, should be the latest version.
I can clip a video soon

On Sun, Aug 18, 2019, 7:36 PM Anthony Mattera <notifications@github.com>
wrote:

[2019-08-19 02:29] KernelZechs commented on #18
@FixerFour so I was able to replicate the issue. The reason for this is that I added fixed triggers way later and didn't hook it into the fight stick logic. Thankfully this should be fixable. I'll work to get a fix for this as early as tonight, but more than likely tomorrow. Thanks for reporting this!

[2019-08-19 13:23] KernelZechs commented on #18
@FixerFour https://www.youtube.com/watch?v=ciDVgfABqec
Here is the fixed code working live. I will release a new version sometime this evening and let you know.

[2019-08-19 22:11] KernelZechs commented on #18
@FixerFour

https://ojdproject.com/downloads/windows/stable/x64/open-joystick-display-2.5.2-x64-windows.zip

Give this a shot and report back to me. Thanks

[2019-08-20 16:31] KernelZechs commented on #18
I'm closing out this ticket. If you have any other concerns let me know. Thanks

[2019-08-20 16:31] #18 closed

[2019-09-02 04:12] Formedras opened #19 "Fight Sticks - Fix layout"
The "Xbox ABXY" and "PlayStation XOST" fightstick layouts are incorrect: The L and R positions are switched. Bottom row (Xbox notation) should be A, B, RT, LT, and top row should be X, Y, RB, LB.

Sticks with this layout are designed with Street Fighter in mind, and PlayStation and Xbox 360/One default control schemes put Heavy Punch and Heavy Kick on R1/R2, not L1/L2.

[2019-09-02 04:19] Formedras commented on #1
Unfortunately, ONLY Linux can support the Steam Controller, due to how its drivers work. Basically, when platforms without sc-controller see the controller without Steam running, the controller is acting in Lizard Mode, which mimics a keyboard and mouse. And when Steam is running, only Steam sees the raw controller data, and everything else (if that much) sees what Steam Input tells it to see. (Wi

[2019-09-02 14:45] KernelZechs commented on #19
@Formedras you can build your own theme here using this guide: https://ojdproject.com/developer-guide.

I built these off various board templates that my friends use for their various platforms for DBFZ and BB. If they don't work for you, you can build / modify your own template. since every fight stick configuration is different for whoever uses it.  I cannot take into account all the different v

[2019-09-02 14:46] #19 closed

[2019-10-06 23:00] Tempystral opened #20 "fight/retro stick 4-position overlays do not recognize Dualshock 4 d-pad"
In the most recent version of OJD (2.5.2 as of writing), my Dualshock 4 controller is picked up fine and the d-pad is recognized as individual buttons perfectly fine by every overlay, except the 4-position fight stick and retro joysticks. Prior to this release, I was using version 2.0 and that version did respond to my d-pad on those overlays.

I did some digging in the source inspector and found

[2019-10-07 08:09] bgiesing opened #21 "PowerA Gamecube theme?"
PowerA sells a GameCube style controller that has all the inputs of the Switch Pro Controller but in a GameCube shell which is supported natively by Steam. Any chance we can get support for that?

![image](https://user-images.githubusercontent.com/7895463/66294814-7f0d2700-e8af-11e9-9858-2395f960b776.png)

Basically would just be the GameCube theme but add the extra select, screenshot, and home bu

[2019-10-07 15:12] KernelZechs commented on #20
I can take a look at it and see what I can find. Thanks for helping track this down!

[2019-10-07 15:14] KernelZechs commented on #21
I wasn't aware such a controller existed. I suppose I can simply make a clone of the current GC controller and add the extra buttons. My question to you though is, does this belong in the GC section or the Switch section?

[2019-10-07 23:49] bgiesing commented on #21
I would put it in the Switch section since it's a controller made for the Switch using Switch input mapping personally.

[2019-10-13 10:53] BadFoxDragon opened #22 "Not really an issue."
It works perfectly and I love it. But my viewers can't tell how far I'm pressing the triggers. Is there any way to add this in as a feature? I play a lot of racing games and how far I pull the triggers in really matters.

[2019-10-13 22:11] KernelZechs commented on #22
Depends on what controller you have, some have axis support, some don't. Like I know that XBox in Linux has trigger Axis support whereas in Windows it sees the controller with physical buttons (maybe not in game, but as chromium interprets it).

Either way if you have an axis on your trigger you can build a theme around using the tools mentioned here to show linear movement:

https://ojdproject.co

[2019-10-13 22:11] #22 closed

[2019-10-13 22:12] KernelZechs commented on #20
@Tempystral I can't replicate this on my side, can you provide a video of your controller and your inputs plus exactly what theme you're using. Also any shots of the inspector would be good to see.

[2019-10-15 13:41] KernelZechs commented on #20
I'm closing this ticket until I get further information. Please feel free to post here and I will review it, Thanks.

[2019-10-15 13:41] #20 closed

[2019-10-17 20:04] elfchief opened #23 "Feature request: Hidden output window for streaming"
I have a Tobii eye tracker, and one of the things that it has (for Windows, at least) is their "ghost" software, for interfacing with streaming and such. One of the ways it does that is providing a window with a "where I'm looking" marker on it, which can then be captured with OBS and overlaid onto my stream.

The useful parts: That window is completely hidden from the user (OBS can see it,, but i

[2019-10-17 20:47] KernelZechs commented on #23
Hey @elfchief,

Thanks for making a recommendation, unfortunately there are two hurdles I would need to get over to make this work one of which is outside of my control.

- Add browserwindow support to OJD (which would give you your invisible window, however I dislike it because this option isn't really available for Linux users in OBS).
- Chromium/Electron needs the window to accept button presse

[2019-10-17 20:47] #23 closed

[2019-10-24 00:22] Hepsily opened #24 "Just a question"
First of all I just want to say its a really cool program.
I would like to be able to out put the information to a physical device, so when a button is pressed or a joystick moved it controls lights and movement, so you are controlling both a game and a physical device at the same time, any ideas how I could add some code to output to an Ardunio or other such device?
Thanks!

[2019-10-24 11:43] KernelZechs commented on #24
Good Morning Hepsily,

For the PC controller stuff I'm using this:
https://developer.mozilla.org/en-US/docs/Web/API/Gamepad_API/Using_the_Gamepad_API

If you're looking to write some special software that interacts with an arduino, such as a robot, a TAS, or the like, I would suggest looking into the serialport.io NodeJS Library (https://serialport.io). I use this library for the RetroSpy integrat

[2019-10-24 11:43] #24 closed

[2019-10-31 19:45] edru opened #25 "Full RetroSpy Support"
Recently found this application, and that it supported RetroSpy. Would love to see this get full RetroSpy Support so it supported all controllers from its main application.

I also noticed that there was support for the RetroSpy Genesis, but not profile mapping to select for it.

[2019-10-31 20:27] KernelZechs commented on #25
@edru Mostly because I don't have a Genesis/MD, or a TG16, or various other consoles, the ones I have mappings for are the ones I tested (ones I don't I did the literal driver translation). If you have said consoles and want to help implement with me that would be great.  Just make a new mapping and send me your config.json and I can add it to the next release. If it doesn't work I can help you wo

[2019-11-01 15:29] edru commented on #25
Sounds good. I'll see what I can brew up as needed and submit them.

[2019-11-11 17:20] KernelZechs commented on #25
I'm going to close this ticket out, if you have anything to share please just comment back on this ticke and I'll reopen it. Thanks!

[2019-11-11 17:20] #25 closed

[2019-12-07 15:35] KernelZechs commented on #21
@bgiesing These themes have been added at your request and are available in the latest download (2.6) on the website. Sorry it took so long.

[2019-12-07 15:35] #21 closed

[2019-12-18 11:39] leillo1975 opened #26 "Support for Wheels?"
Hello
I just discovered this software, and I really impressed. I would like to know if in future do you plan to give support to Steering Wheels. I think that a lot of simracer streamers would benefit from your software. As a Linux user I'm an user of a Logitech Wheel, that is the only wheel brand that gives a good support in our system.

[2019-12-18 14:15] KernelZechs commented on #26
Good Morning @leillo1975

Someone asked me about this over in the obs forums awhile back about this feature, unfortunately I don't have any logitech wheels to do testing on otherwise I would add the feature. However, if you want to help out I can try and figure it out with your help.

Go to this site:
https://html5gamepad.com/

Hit a button on your wheel and then it should activate. Turn your whee

[2019-12-18 15:10] leillo1975 commented on #26
Do you want a video recording of the web Browser Screen (OBS), or a video of the wheel while I'm turning and pressing the buttons (using a mobile telephone or webcam)?

[2019-12-18 15:18] berarma commented on #26
Hi. I can send you the mappings for the G29 and its G27 emulation mode.

Notice below that the website shows the real device name but the device ID of the emulated device.

Also, the rotation range of these wheels can be configured from 40º to 900º. Thus, the same [-1,1] range may correspond to a wheel rotation of 40º to 900º depending on configuration.

Logitech G29 Driving Force:

[code]

Logite

[2019-12-18 15:37] KernelZechs commented on #26
@berarma that is super useful, thank you.

@leillo1975 I think I have what I need, but a screen recording using OBS wouldn't hurt to have for reference.

I'll look into getting a beta build done with a wheel theme.

[2019-12-18 19:30] Diolinux opened #27 "Bug on Linux Mint 19.3 (Cinnamon)"
Unlike in GNOME Shell (Tested on Pop!_OS 19.10), double click on Nemo File manager on "open-joystick-display" file, doesn't open the app (executable option properly checked).
Running through terminal "./open-joystick-display" the window of the app open, but nothing appears, the terminal also doesn't show any errors.
![screenshot](https://user-images.githubusercontent.com/13944967/71116848-a176c700

[2019-12-18 19:34] KernelZechs commented on #27
@Diolinux

For my sanity, can you see if this older version works for you:
https://ojdproject.com/downloads/linux/stable/x64/open-joystick-display-2.5.2-x64-linux.tar.gz

[2019-12-18 19:44] Diolinux commented on #27
Hey, thanks for the quick answer. Good news, it works properly with this old version! :)
I was thinking (don't know if it is possible), Linux gamers aren't necessarily really technical people, this way, it will be a good thing if we can open your app without any terminal command or something like that, you may pack this app on a universal format like AppImage, or Flatpak, Snap. This way it can be

[2019-12-18 19:51] KernelZechs commented on #27
@Diolinux thanks for getting back to me, with version 3 with the current rewrite I am looking to move to using an AppImage distro as I have simplified distribution of my other projects so that is on my radar.

Also, it is troubling that it doesn't work for you in Mint. I asked you to try the older version because that was the last version I compiled in Mint before migrating to Arch, so I will need

[2019-12-18 20:00] leillo1975 commented on #26
Here is your g29 video:
https://youtu.be/3r4ySaGpeDs
Axis0 is wheel, Axis2 gas pedal, Axis3 brake, Axis1 is clutch, Axis 4 and 5 digital dpad

[2019-12-18 21:12] KernelZechs commented on #26
@leillo1975 @berarma

Below is an attached video of a demo wheel theme showing off a working wheel a pedals, gearbox buttons. The axis controls were emulated using a Xbox One controller analog stick.

https://www.youtube.com/watch?v=9gO2b8NBdoA&feature=youtu.be

If this looks good to you, I can send you a beta build to test this feature out on your actual racing wheels. If it works to your satisfa

[2019-12-18 21:25] leillo1975 commented on #26
Of course is good, and of course I would like to test it. Thanks a lot

[2019-12-18 21:28] berarma commented on #26
The mapping of the axis is right. The gear buttons is not, it's B12-B18.

The gears are not really that important since they're normally displayed in the games' HUD. And neither most other buttons since they don't have standard functions. But, would it be possible to add the clutch pedal?

I think the main inputs would be the wheel, gas, brake and clutch. I'd like to hear @leillo1975 oppinion on t

[2019-12-18 21:28] KernelZechs commented on #26
@berarma those are mapped to my Xbox controller, you can map them to any button you wish using the mapping table.

[2019-12-18 21:30] KernelZechs commented on #26
Also adding a clutch pedal is as easy as adding the rest of them, mostly the only new feature here is the wheel functionality that didn't exist before. Now that I can have that I can build pedal / wheel / gearbox themes for racing wheels. @berarma

(Sorry I didn't mean to not finish my last ticket)

[2019-12-18 21:33] berarma commented on #26
OK. I didn't know it could be mapped by the user. It sounds good.

[2019-12-18 21:42] KernelZechs commented on #26
https://ojdproject.com/downloads/linux/unstable/open-joystick-display-2.7-beta1-x64-linux.tar.gz
@leillo1975 @berarma

Instructions:
I suggest creating a new profile to get started.

- Select Racing Wheel Theme
- Create a New Profile Mapping
- Gearbox Buttons:
  - Create 7 Buttons, Use the new GEAR-# for each one and REVERSE, assign it to the button you want to use (for your Logitech should be But

[2019-12-18 21:49] KernelZechs commented on #27
So upon further investigation it does seem that this application does need to be compiled in debian for it to work correctly, so I will have to setup a few environments for each system. The reason for this is the serialport IO binary used for RetroSpy controller connectivity. Continue using the old version for now but I will have to rethink my deployment process going forward.

Thanks for finding

[2019-12-18 22:57] Diolinux commented on #27
I'm glad that I could help you in some way. Thanks, I'll keep using the old version, for now, hoping for the future upgrade fix this little bug. I'm sure, an appimage distribution will be great. :)

Thanks again.

[2019-12-18 22:59] leillo1975 commented on #26
I have the same problem that https://github.com/KernelZechs/open-joystick-display/issues/27#issue-539875098. I can't open the app using the executable file. If I use a terminal I don't see any control on it:

![Captura de pantalla de 2019-12-18 23-58-24](https://user-images.githubusercontent.com/551821/71130521-5c25ba00-21f2-11ea-90ce-8d7aa1d66ded.png)

[2019-12-18 23:34] KernelZechs commented on #26
*sigh* frustrating. Not your fault though, it should just work regardless but electron is being a pain. I'm out at the moment but when I get back I will compile a new binary in Debian which should resolve the problem. Sorry for the headache :(

-------- Original Message --------
On Dec 18, 2019, 5:59 PM, leillo1975 wrote:

[2019-12-18 23:38] leillo1975 commented on #26
Don't worry about it. Now I'm going to sleep, and until 20:30 CET of tomorrow I won't be able to prove it, because I'll be away from home all day.

[2019-12-19 01:20] KernelZechs commented on #27
https://ojdproject.com/downloads/linux/stable/x64/open-joystick-display-2.6-debian-x64-linux.tar.gz
@Diolinux can you try this binary and see if it launches in mint correct? This has been built in a debian environment.

[2019-12-19 03:44] KernelZechs commented on #26
@leillo1975 Here is a rebuild OJD, let me know if this works for you:
https://ojdproject.com/downloads/linux/unstable/open-joystick-display-2.7-beta1-debian-x64-linux.tar.gz

In the meantime I'll start working on some real themes for the application.

[2019-12-19 09:49] leillo1975 commented on #26
I will try it this night on my home PC. I tried both on my work's computer and they run correctly. In my house I use Ubuntu 18.04.3, and in my work 19.10. Perhaps 19.10 uses some dependencies more advanced that 18.04 necessary to run your software

[2019-12-19 11:36] Diolinux commented on #27
Hey @KernelZechs, this version is working perfectly. Good Job! :)

[2019-12-19 12:37] KernelZechs commented on #27
Awesome, and I've verified that same binary works on various systems including arch, so the website download has been been replaced with that binary. Thanks for bringing this to my attention, I'm going to close this ticket out. Feel free to re-open it if you have any more issues.

[2019-12-19 12:37] #27 closed

[2019-12-19 15:31] berarma commented on #26
It's working on Debian 10.

[2019-12-19 17:00] KernelZechs commented on #26
@berarma @leillo1975

https://www.youtube.com/watch?v=z51LPAYWREU&feature=youtu.be

Here is a video of my work last night on a G29 wheel, pedal, and gearbox set. Please let me know what you all think. For this feature to be complete I will have the following configurations:

- G29 (PC/PS4) with/without gearbox
- G29 (PC/PS4) Gearbox Right/Left hand side
- G209 (PC/Xbox) with/without gearbox
- G209

[2019-12-19 20:09] leillo1975 commented on #26
It works great with

Now it works on Ubuntu 18.04. Thanks a lot. I created a profile and I configured the triggers for direcrtion, brake and throttle, and it works!
I found two problems. The first one is that pedals are inverted and when you accelerate or brake, in the screen you see the opposite. There is an option to invert triggers?
The second one is a problem with the degrees/range  of the whe

[2019-12-19 20:12] KernelZechs commented on #26
@leillo1975
[code]
I believe that they are correct but the visualization is weird, I'm going to do a new build this evening with the themes I made so let me know if they are inverted there. If they are, yes I can invert them.

[code]
Because I don't have one to test this was a concern of mine BUT I can solve this by adding a new degree field to let you choose how many degrees you wish for the whee

[2019-12-19 20:34] leillo1975 commented on #26
I think if you put a checkbox to invert the trigger it could be perfect

**Perfect**. We can create some profiles with different ranges (G29_360, G29_450, G29_900 ....)

[2019-12-19 23:04] leillo1975 commented on #26
Your work is Incredible, awesome....
invert checkbox and degrees field work great!. And the theme is looks perfect. ...
Now we go with the problems. I found that the degrees don't work as expected (don't worry, is not important). If you put 450º, the wheel acts like 900º, if you put 180º, like 360. I think that yu only have to divide the effect of the degrees by 2 to work fine.

Then... Axis2 is f

[2019-12-19 23:08] KernelZechs commented on #26
@leillo1975
The reason for the degrees is that I don't want to make assumptions about the calculations for other racing wheel specs, so it just does the raw degrees- as you figured out dividing it by half worked for you, for others it may not be the case.

The reason for the axis is actually quite simple, triggers in themes are done top to bottom, left to right, so:
Wheel (Trigger ID:0), Clutch (T

[2019-12-19 23:13] KernelZechs commented on #26
To follow up, for your configuration:
Trigger 0 (Wheel) : Axis 0,
Trigger 1 (Clutch): Axis 1
Trigger 2 (Brake): Axis 3
Trigger 3 (Accel): Axis 2

[2019-12-19 23:18] leillo1975 commented on #26
The range in degrees in the Steering Wheels is counted from end to end, not from center to end.

[2019-12-19 23:20] KernelZechs commented on #26
@leillo1975 Alright, I'll trust you and make the change, but if someone complains you're getting tagged on it lol.

[2019-12-19 23:28] KernelZechs commented on #26
@leillo1975

![image](https://user-images.githubusercontent.com/46404303/71217876-4e714280-228d-11ea-8425-99363d92d219.png)

https://ojdproject.com/downloads/linux/unstable/open-joystick-display-2.7-beta3-x64-linux.tar.gz

I also made a note on the label that it is divided.

[2019-12-19 23:44] leillo1975 commented on #26
You are so quick! I will try it before going to sleep
Take a look to this test with Speed Dreams:
https://youtu.be/RqqZpD03oIA

[2019-12-19 23:50] leillo1975 commented on #26
Now everything works perfect. Thanks a lot for all of your work. I will use this g29 profile in all of my youtube racing videos

[2019-12-19 23:50] KernelZechs commented on #26
@leillo1975
AWESOME! Looks great!

I'm not sure if it was intentional but the pedal axis' look inverted, because when you decelerated the pedals were down but not up, but either way it looks to be functioning as intended!

@berarma do you have any feedback before I cut a release?

[2019-12-19 23:56] leillo1975 commented on #26
You are right, I forgot to invert it. Cheers!

[2019-12-19 23:57] berarma commented on #26
Awesome!

Don't worry, it's correct. Some racing games have a setting for the wheel range and they do it like this too. It's universal for all brands and software.

[2019-12-19 23:59] KernelZechs commented on #26
Cool, then I will cut a release and post it here. Once that is done I will close out this ticket as complete. Thank you both for all of your hard work testing this, I couldn't have completed this feature without you all.

[2019-12-20 00:35] KernelZechs commented on #26
OJD 2.7 has been released to the public, the binary is on the website. I'm going to close out this ticket now. Just a note, as a thanks for helping me out I added your names and github link to the about dialog, you should be able to see it in the most recent build.

Thanks again, have a great holiday!

[2019-12-20 00:35] #26 closed

[2019-12-23 09:50] leillo1975 commented on #26
@KernelZechs , dedicated to you:
https://youtu.be/QZcewtPKGEw
https://youtu.be/deJ5haHlovc
Thanks again!

[2019-12-25 04:16] zeroviim opened #29 "Mayflash dreamcast to USB not noticing any inputs in OJD"
Not a huge issue, but noticed that https://www.amazon.com/Mayflash-Dreamcast-Controller-Converter-Adapter/dp/B00K7YK0YA gets recognized by the software, but it doesn't register any of the inputs.

[2019-12-25 12:28] KernelZechs commented on #29
@zeroviim question for you, did you try changing the player to see if you got another input?

![image](https://user-images.githubusercontent.com/46404303/71445466-0a949800-26e8-11ea-9854-7927cee05a0d.png)

I have a gamecube mayflash adapter and sometimes it registers as player two.

[2019-12-25 17:11] zeroviim commented on #29
Ah, that was it, I should've experimented before opening the ticket! Sorry about that, figured since it showed up first in the list on devices and printers it would reg as player 1

Closing the issue

[2019-12-25 17:11] #29 closed

[2019-12-25 19:02] KernelZechs commented on #29
@zeroviim Just so you know why, the mayflash registers each controller regardless if it is plugged in or not, you can see this on your Device Manager, so it all depends on which port you plug in. Regardless, I'm happy I was able to help you out, Merry Christmas!

[2020-01-03 11:41] alexbrrsclnt opened #32 "Add support for Logitech G27 racing wheel"
Hi!

Is there any option to add support for this wheel?

Thanks in advance!

[2020-01-03 13:09] KernelZechs commented on #32
@alexbrrsclnt just so that I understand, are you asking for a G27 theme? Because the G27 should work fine in OJD now that we added racing wheel support.

[2020-01-03 15:04] alexbrrsclnt commented on #32
Maybe I am confused because in the configuration mode I see all the buttons of the wheel detected in the input tester, but some are displayed in the preview using the G29 theme, and others don't, like the pedals or the spin of the wheel, and the gears padels are shown inverted.

I have to read the documentation and see how to assing correctly all the buttons.

[2020-01-03 15:07] KernelZechs commented on #32
@alexbrrsclnt

Please read this ticket on how to configure your wheel, TL;DR- you'll just have to make your own custom mapping for the G27: https://github.com/KernelZechs/open-joystick-display/issues/26

[2020-01-04 13:52] alexbrrsclnt commented on #32
I finally got the wheel with the correct configuration making a custom mapping profile. You can close this issue. If you get time to add the G27 theme, great, but it's not necessary.

Great work and excelent program!

Congrats!

[2020-01-06 16:37] KernelZechs commented on #32
I'm going to close out this ticket, but if I add a G27 theme in the next release I will tag it here. Thanks!

[2020-01-06 16:37] #32 closed

[2020-01-06 21:17] hydargos123 opened #33 "[Feature request] Triggers on Xbox One controller not detected as axis"
Hello,
This software is really great, I have not used it in a stream but I sure will.

I am using an Xbox One S Controller, and the triggers (L2 and R2) do not appear as axis, even though they are analog and are detected as such in different gamepad testers. On OJD, they just appears as button (6 & 7) and light up when pressed lightly, and no axis appear in the axis viewers.

It would be really gr

[2020-01-06 23:59] KernelZechs commented on #33
@hydargos123 Unfortunately I have no way to fix this right now, this is in relation to how chromium interprets the inputs, you can even visualize this yourself (using chrome) on this website: https://html5gamepad.com/ (Tested using a XBO controller).

Ironically, the latest feature I added, racing wheels, the Logitech G pedals work on an axis and do show actuation has you're describing above. Howe

[2020-01-06 23:59] #33 closed

[2020-01-07 11:52] hydargos123 commented on #33
Hello,

I suspected an incompatibility issue, so no big surprise. I didn't think of testing on a Chromium browser, I only tested this website with Firefox, so that makes more sense.
No problem, this is not a necessary feature for me, it works fine without it.

Have a great day

[2020-01-14 19:34] Xathen opened #35 "linux installation"
i am wondering how to install the app on a linux os because on your website, i cant find anything about installing on a linux device. if you can help, please tell me. thanks

[2020-01-14 20:16] KernelZechs commented on #35
Afternoon @Xathen

It's very simple:

- Go to https://ojdproject.com/
- Download the latest Linux binary - https://ojdproject.com/downloads/linux/stable/x64/open-joystick-display-2.7.1-x64-linux.tar.gz
- Extract and put it somewhere for you to use (I use the `/opt` folder)
- Run the executable `open-joystick-display` (You can do this via a terminal)

It's pretty simple. If you're using XFCE/KDE/Gn

[2020-01-15 18:53] KernelZechs commented on #35
I'm closing out this ticket, if you need help just feel free to reopen it.

[2020-01-15 18:53] #35 closed

[2020-01-15 23:34] Tominounet opened #36 "Enhancement: Keyboard/Mouse Input, Cross Input With Controller/Keyboard"
Hey there,

First of all, I wanted to know if there were any way to use the keyboard as an input driver ?
It could be use to test mapping for example.

In my case, I wanted to use that in a very specific way. Let me explain.
I use your software for streaming/recording. Thanks by the way, you did a really great job.

The game I play need to be on xbox one controller at a moment, and on keyboard at

[2020-01-16 00:18] KernelZechs commented on #36
Not yet but it is on the roadmap for keyboard and mouse support. I've had a few ask for it over the last year since this app went up and it may just be time to put it in.

In general though the first implementation is just going to be a keyboard/mouse driver that will simply show which keys or mouse clicks you hit. In terms of multi-mapping you could build a theme to handle that once the feature i

[2020-01-16 18:10] Tominounet commented on #36
Thanks ! Really cool :) !

[2020-01-23 11:56] JukePlz commented on #36
I think once this is on the way (in the future) having a theming feature to switch the whole image to the last used input device would be great, or a way to switch themes automatically.

When streaming, screen real state is usually at a prime and as such having a theme that shows all input devices would take a lot of space that could be saved by just showing the last input device in the same scree

[2020-01-23 12:48] KernelZechs commented on #36
@JukePlz it sounds like to me you want an accelerator (keyboard shortcut) to easily switch profiles while streaming.

[2020-01-23 13:58] JukePlz commented on #36
Ideally it would be automated, accelerators can already be done by juggling scenes from the streaming program (OBS or whatever) but it involves the user duplicating the scene several times, takes extra keybinds, forces the user to touch the keyboard in games that may only need gamepad+mouse, and it's really much more cumbersome when you have to play and also keep track of the scene or viewer confi

[2020-01-23 15:07] KernelZechs commented on #36
I'm having a hard time envisioning this concept also I'm having a hard time how this is going to work cross-platform which is an absolute must for this project. What you're almost looking for is a more robust scene management tool for OBS which I believe is out of scope for this project.

Maybe I'm misunderstanding what you're asking- maybe all you're asking is for multiple controllers on screen i

[2020-01-23 18:08] JukePlz opened #37 "Enhancement: Switch profiles automatically based on the last input device"
### Problem:
Certain games requiere several input devices to play, OJD currently requieres the user to switch manually to different profiles to show those inputs. This sugestion will cover different use cases and detail possible solutions and how they could be handled by UI.

### What this enhancement doesn't cover:
This feature request does **not** include simultaneous input devices, like first p

[2020-01-23 18:14] JukePlz commented on #37
@KernelZechs I have made this a separate issue in the tracker, to not derail Terminounet sugestion. I've tried to make it as descriptive as possible, if you still want a flowchart I can provide that in a comment here.

[2020-01-23 18:18] KernelZechs commented on #37
This is comprehensive and makes sense. So basically you want it to monitor which input is being used and switch to that profile automatically when actions are used for that input device without having to do it manually or have multiple instances opened.

This would be better suited for the v3 code base since I've completely re-written the way the state handlers work (I'm using react instead so eas

[2020-01-26 07:02] seathasky opened #38 "Enhancement: PS4 SCUF Theme Suite"
Hi there! I've read your theme guide extensively and it is beyond me. lol. I just wanted to know if it's possible to have a theme available or if someone could make me one that showed Scuf controllers inputs as well as the standard Playstation controller that is defaulted with your program.
So basically, it would show the paddle inputs to the side or something as well as the regular Playstation in

[2020-01-26 07:03] seathasky commented on #38
Also, I tried to find the discord mentioned in another post, but could not find an actual link :P

[2020-01-26 14:26] KernelZechs commented on #38
@seathasky Give me some time today, I should have it done shortly. I decided that I wasn't just going to do the Apex Legends theme but a suite of controller options as well so other people could enjoy this enhancement as well.

As a rule of thumb, I don't do one-off theme requests unless they can be generalized for lots of people. It just so happens that SCUF has a great controller builder and I w

[2020-01-26 15:24] KernelZechs commented on #38
Download:
[scuf.zip](https://github.com/KernelZechs/open-joystick-display/files/4113612/scuf.zip)

Video:
https://www.youtube.com/watch?v=uDmrA9WNROo&feature=youtu.be

@seathasky here is the SCUF theme I created this morning. This has your Apex Legends configuration in here as well. All you need to do is the following:

- Extract the ZIP
- In OJD on the profile panel select [Select Folder] and poi

[2020-01-26 15:24] #38 closed

[2020-01-27 11:42] seathasky commented on #38
Oh wow! You did it, ty soo much!! This is great! I do appreciate it, I think others can benefit from it too! A lot of streamers use Scuf controllers in Apex!

I hate to sound ungrateful in the end but I was hoping for the mod buttons as well but my dumbbutt put the wrong "Back" screenshot in the original post haha!
I was looking for this to be added as well!
https://scufgaming.com/media/wysiwyg/ap

[2020-01-27 15:16] KernelZechs commented on #38
@seathasky the issue comes down to the fact that everyone's backside mod buttons are different and be reconfigured and since they activate the same buttons that are highlighted on the front (IIRC SCUF controllers do this via a firmware in the controller for console compatibility, correct me if it's wrong) It doesn't add any real value to the controller visualization to show the backside on stream.

[2020-01-27 15:38] seathasky commented on #38
I suppose not but it does look funny when you have both thumbs on your sticks and are mashing your buttons lol, thats the only reason I requested this 👍

[2020-02-04 21:33] tanjo3 opened #40 "Inverted C-Stick on Gamecube"
Not really sure why, but my C-Stick is inverted on the Gamecube. The control stick is fine, but flicking left on the physical C-Stick show right on the display and similarly for up-down. Is there a way to invert this so that my display is accurate? My base mapping is the Mayflash one. Thanks.

[2020-02-05 01:05] KernelZechs commented on #40
I need the following information from you as per the ticket template. However, I have tested my GC mayflash adapter and it works as intended. Make sure it is set to PC mode and not Wii/Switch mode as this causes problems.

## For Bug Reports
- Information and version about the operating system you are currently using:
  - For **Microsoft Windows** you can get this information by going to `Command

[2020-02-05 01:20] KernelZechs commented on #36
An update:

I've been fiddling around with this keyboard/mouse concept for a bit, and I'm not really liking how this functions in OJD, quite frankly the application was built with a focus on Gamepads/Joysticks/Wheels (basically static human interface devices) whereas Keyboards are very dynamic and have very particular styles, keyboard layouts (QUERTY, DVORAK, etc.), and locales (Japanese, European

[2020-02-05 01:20] #36 closed

[2020-02-05 04:40] tanjo3 commented on #40
Sorry, my bad.

I'm running OJD on Windows 10 Pro, OJD is version 2.7.1.

I currently have my Gamecube controller plugged into a pdobq adapter which is set to PC mode. Moving the C-Stick up reports a value of 0.7 on axis 2 and shows the stick moving down on the display. Moving the C-Stick left reports a value of 0.7 on axis 5 and shows the stick moving right on the display. The control stick works

[2020-02-05 05:01] KernelZechs commented on #40
@tanjo3 pdobq isn't the same as the Mayflash (though may be similar in chipset, but clearly not programming). However your fix is simple. Just invert the axis on your directionals and they should work correctly. Let me know if this helps you. Below is a screenshot of the Mayflash controls (Directional ID 1 is the one you want to modify)

![image](https://user-images.githubusercontent.com/46404303/

[2020-02-05 05:04] KernelZechs commented on #40
I deleted my original solution, however I stand by the issues with the pdobq being different from the mayflash.

Let me look at this and get back to you, I think there just needs to be an inverted option added to the directionals.

[2020-02-10 02:13] KernelZechs commented on #40
@tanjo3 2.8.0 is live. You will see an Invert X and Invert Y option for directionals now. This will allow you to tune this to your controller. You can download the latest packages here: https://ojdproject.com/

I'm going to close this ticket, please feel free to re-open if you have any more issues. Thanks.

[2020-02-10 02:13] #40 closed

[2020-02-10 02:15] KernelZechs commented on #38
@seathasky Version 2.8.0 is live, this has the SCUF themes built in. Feel free to download it when you feel like it. Thanks!

[2020-02-10 20:15] Darth-Vader0 commented on #37
Good day, congratulations and thank you for this great program.

I comment that the program does not recognize the lever of the Xbox 360 Fightstick Madcatz "Tournament edition". The buttons had no problem.

Will there be any solution to this problem?

[2020-02-10 20:17] KernelZechs commented on #37
@Darth-Vader0 This is the first I'm hearing about this. Please make a bug ticket and follow the instructions in the template and we can talk there.

[2020-02-14 10:01] Tominounet commented on #36
Totally understand your point of view man ! I will find a way to do what I want anyway ! Thanks for the feedback :)

[2020-02-14 21:33] blackholebh opened #42 "New Mac Version"
On Mac OS 10.15 the new zip to app version gives error "cannot be opened," the previous dmg versions all work

[2020-02-15 00:21] KernelZechs commented on #42
@blackholebh I need more information since it opens on my MacOS instance just fine. Please read the ticket template below on how to get started. My gut says your issue is with MacOS's walled garden but I can't know for sure until you provide me the exact error message and screenshots.

## For Bug Reports
- Information and version about the operating system you are currently using:
  - For **Micros

[2020-02-15 00:34] KernelZechs commented on #42
@blackholebh

Just in case this is your issue, you can watch the video tutorial below I made, alternatively you can read the documentation link on how to fix it. If this works for you comment back and close the ticket. Thanks

Video:
https://www.youtube.com/watch?v=oHyOLrff4X0&feature=youtu.be

Instructions Are here In The Documentation
https://ojdproject.com/user-guide#install

[2020-02-15 17:20] blackholebh commented on #42
<img width="420" alt="Screen Shot 2020-02-15 at 12 18 32 PM" src="https://user-images.githubusercontent.com/46506773/74592243-5deedc80-4fed-11ea-8eb5-107640299fe0.png">
<img width="242" alt="Screen Shot 2020-02-15 at 12 18 42 PM" src="https://user-images.githubusercontent.com/46506773/74592244-5deedc80-4fed-11ea-8042-d7c8e3a9be86.png">

Just downloaded as is doesn't even give the unidentified deve

[2020-02-16 02:00] KernelZechs commented on #42
Unfortunately I don't support alpha, beta, developer previews, or release candidates of software. Honestly I'm surprised Apple hasn't kicked you out of the beta yet since Catalina was released back in October.

Regardless I'm going to close this ticket. I have verified it has worked on both Catalina and Mojave stable. In the meantime you can use an old build here (https://ojdproject.com/downloads/

[2020-02-16 02:00] #42 closed

[2020-03-14 15:52] INobody95 opened #44 "Enhancement: Logging Inputs with timings"
Hello,
I’d like to humbly request / suggest a possible feature. I’d love to implement it myself, but I have no knowledge in CSS or HTML. C++ and Python is my turf.

The feature would be a simple log of Inputs and their timings. This log could be a simple csv file. Something like the following:

###
Start date and time of the first Input ( synched with serversided system time)
A (50ms duration)
250

[2020-03-15 14:43] KernelZechs commented on #44
@INobody95 so the long and short of it is that all you want is a downloadable log of button inputs that are synced with server time?

[2020-03-15 15:27] INobody95 commented on #44
Exactly. Do you check x times a second what is pressed or do you get feedback from the console everything something is pressed?  I can work whit whatever way is the easiest for you.
Thank you in advance

[2020-03-15 16:52] KernelZechs commented on #44
It's very simple logic, a x ms (defined by the polling interval option) it checks for inputs and then displays them. Polling interval is there to reduce CPU usage. I could write a hook at the end of logic to sync it / log it however I feel as if there would be too much overhead but I'm happy to try and see if I can make it work. But before I do so I need you to answer below:

To write a polling/lo

[2020-03-15 20:23] INobody95 commented on #44
I think you are right. My programming skills are pretty rudimentary, so I stumbled over your tool and thought that if you manage to poll the inputs while playing on the Switch, it would be easy just to log those polls. But like you said, I wouldnt need the GUI perse.
If I got this right OJDS-NX (sys-ftpd) broadcasts the actual inputs (the int values) over a request from the server PC. So I'd only

[2020-03-15 21:57] KernelZechs commented on #44
No problem, I hope your project goes well. Perhaps the homebrew switch crew (such as AtlasNX) might be able to help you out with this. For the record, I'm not the maintainer for OJDS-NS, that would be my sister (https://github.com/NicholeMattera/OJDS-NX/) You could look at her code and pull what you need from that in terms of input hooking for the switch. From there, in theory, you could just modi

[2020-03-15 21:57] #44 closed

[2020-03-19 17:41] DaviBe92 opened #45 "Bug: RetroSpy N64 input mismatch"
Bug: RetroSpy N64 input mismatch

1. C Buttons Left and Right non Functional

- Only 12 of 14 Buttons available

  - Buttons 12, 13 (C Left, C Right) are non existent in the Input Tester

   - Input Mapper shows correct Map

2. Analog Stick wrong range

- Range is from 0 - 1 but should be -0.5 - 0.5

Video showing the issue:
[https://youtu.be/Vy5I5SmRelM](https://youtu.be/Vy5I5SmRelM)

(Everything

[2020-03-19 18:05] KernelZechs commented on #45
@DaviBe92 did modifying the mapping fix your issues?

[2020-03-19 18:12] DaviBe92 commented on #45
No, the Profile Input Driver only shows 12 Buttons, so Buttons 12 and 13 are not being recognised.
I dont think the range of the analog stick can be remapped, can it?

[2020-03-19 18:17] KernelZechs commented on #45
So 12 and 13 is prob. a backend driver problem I can fix. However you can tweak the directional range. I would delete the directional and use a linear trigger function. I'll have to pull out my N64 cables and see if I can replicate this analog problem. This may have been a change since when I tested this and now.

The buttons are def. my fault since they are statically mapped, so I'll try and take

[2020-03-19 18:36] DaviBe92 commented on #45
Ok, no worries, stay safe :)

I was able to remap the Analog Stick to the D-Pad using Triggers and it works, but i am not able to select the  Stick as a "Trigger Button"

[2020-03-25 14:54] arturmiller79 commented on #37
@KernelZechs would you be interest on paid custom project? I want program in PC to read XY(like yours do) of racing wheel, then convert this XY to XY meter to then convert to Latitude and longitude to then convert to NMEA 0183(like gps antena) message to output this in COM port at choice .

we manufacture gps guidance for agriculture and i want to make gaming cockpit with farmsimulator19 and when

[2020-03-30 19:25] dregimbal opened #46 "CPU Usage"
Hello, I noticed really high CPU usage while using the app on Windows. After a little debugging, i discovered it was because styles are being applied every poll, instead of just when there are changes.

I've made some modifications on a fork [here](https://github.com/dregimbal/open-joystick-display) that brought the idle usage from ~20% to ~1%, and active usage (spinning control stick, mashing but

[2020-03-30 23:39] KernelZechs commented on #46
@dregimbal. Thanks for doing this! Anything to add some performance gains would be welcomed while I'm moving this code to react is much appreciated.

Can you make a PR for these changes so we can proceed? However, I noticed you turned back on HW acceleration. You can't do that. Windows OBS cannot capture the electron windows because of the chromium offscreen renderer problem. You will end up with

[2020-03-30 23:39] #46 closed

[2020-03-31 16:11] dregimbal commented on #46
No worries, I made the edits for purely selfish reasons 😆

I'll try to clean up my changes a bit (they are pretty hacky) and make a PR.

I haven't tested it on Linux, but I wasn't running into any issues recording/streaming through OBS on Windows with the acceleration enabled. Having said that, I will omit it from the changes.

[2020-04-01 12:45] Paragoumba opened #48 "AUR Package"
I have by going on your website that you provide a portable archive of the project and that there is no open-joystick-display can be found on the AUR (Arch User Repositories). I think it would benefit some people (at least Arch based distribution users) to add OJD to the AUR. I will try to create one myself and update this issue afterwards.

[2020-04-01 12:53] KernelZechs commented on #48
That would be nice to have since I use Arch. However, keep in mind if you're going to maintain that aur reference to just work with me when I move things around. I would just use the general linux build and just unpack it in `/opt/open-joystick-display'. Thanks for letting me know!

[2020-04-01 20:47] Paragoumba commented on #48
I started creating the package but I've seen that the latest version on GitHub is the v2.7.1 but on the website the v2.8.0 is available. Since the AUR package will download the sources of the latest Release, it would be nice to create the v2.8.0 one on GitHub.
Furthermore, I couldn't find any instructions on how to compile from source. I think it is an important thing to add to the README and it w

[2020-04-01 23:01] KernelZechs commented on #48
@Paragoumba I can update the tagging and add documentation to it this evening. I'll let you know when that is done.

[2020-04-02 02:09] KernelZechs commented on #48
@Paragoumba tagging has been fixed, you can follow the build guide here: https://github.com/KernelZechs/open-joystick-display/blob/master/BUILD.md

[2020-04-02 21:17] Paragoumba opened #49 "Xpadneo messes up mapping"
## For Bug Reports
- Information and version about the operating system you are currently using:
    - Distribution: ArchLinux
    - Version: Latest
    - kernel version:
    - Desktop environment: KDE with Xserver
    - Desktop compositing: Probably yes
    - Up to date?: Yes
    - [List of installed packages](https://pastebin.com/kdNH653V)

How to reproduce?
- Install [xpadneo](https://aur.archl

[2020-04-02 21:59] KernelZechs commented on #49
@Paragoumba you can make your own custom mapping to fix this. Did you try this?

[2020-04-02 22:00] KernelZechs commented on #49
Guide: https://ojdproject.com/user-guide#input-mapper

[2020-04-02 22:03] Paragoumba commented on #49
Yeah I tried but some buttons (like X and select) are not even recognized. When you touch to the right joystick, an input on R2 is constantly detected even if I don't touch it. R3 and L3 don't work either.

[2020-04-02 22:09] KernelZechs commented on #49
I will attempt to install xpadneo and see what I see, if I can get a working configuration with the controller I will send you a config.json you can use.

Xbox controllers work fine using the standard kernel-provided xinput driver. I don't generally support 'third-party' drivers for stuff because it gets out of hand for testing and impossible to maintain. However, I'm happy to take a look at it si

[2020-04-03 13:18] Mastichrono opened #50 "BUG - Broadcast mode no longer bringing up a window."
Windows 10, latest update for OJD.

I've never had any problems using this in the past, but recently when I click ESC to go into broadcast mode, no window shows up and there is nothing in the OBS list of windows.

[2020-04-03 13:19] Mastichrono commented on #50
I forgot to mention that I have uninstalled and re-installed using the most recent release as well.

[2020-04-03 14:29] KernelZechs commented on #50
@Mastichrono I just tested it in Windows 10 and it works, likely you changed your monitor configuration and it is off screen and you can't see it.  I would reset your configuration by doing the following:

- Open Open Joystick Display
- Do Reset Config
- Try ESC to enter broadcast mode again.

If you're unable to do the above, you can also do the following:

- Close all instances of Open Joystick

[2020-04-03 14:29] #50 closed

[2020-04-03 15:12] KernelZechs commented on #49
@Paragoumba I have verified with xpadneo installed/enabled and in both wireless and wired mode on my Xbox one controller that OJD *works* as intended. I'm currently running kernel `5.5.13`. I'm unsure as to why this is. Below is some information from my install.

**Info From Yay (AUR)**
[code]

**lsmod (xpadneo is at the top, also in the memless module)**
[code]

[2020-04-03 15:34] KernelZechs commented on #49
@Paragoumba I have also went through the lengths of installing Dolphin and testing it out with SSBM with the standard kernel-driven `xpad` driver over wired and wireless, this does work as well and it works perfectly after configuring your controller in dolphin. Likely at this point you have a system configuration problem and since Arch (like Gentoo) is custom to many I'm going to call it here sin

[2020-04-03 15:34] #49 closed

[2020-04-03 19:33] Paragoumba commented on #48
Perfect! I tried to compile and... couldn't make it work :/ After install yarn with `pacman -S yarn`, I ran `yarn install` and it failed with the following [stacktrace](https://pastebin.com/PfHmbEvw). Running `yarn build` worked surprisingly. All the builds are in the dist directory as expected. The built binary executes without error. Isn't there a way to build just the .tar.gz archive (or even j

[2020-04-03 19:49] Paragoumba commented on #48
I investigated a bit and it appears that a `npm install` worked and replaced the `yarn install` but when I launch the PKGBUILD it always fails at `npm install`

[2020-04-03 20:27] KernelZechs commented on #48
@Paragoumba don't use npm install as the application is designed around using yarn. To install yarn you should use `npm` and not `pacman` so `npm install --global yarn gulp` is what you should be doing, from there `yarn` is a global command and should work as intended.

In regards to reducing the build to the unpacked, I'll figure out a way you can do so.

[2020-04-03 20:32] KernelZechs commented on #48
@Paragoumba

`gulp build && gulp rebuild-electron && yarn electron-builder --linux dir`

Here is a command you can use instead of `yarn build`

[2020-04-03 21:01] Paragoumba commented on #48
Ok for now it works! linux-unpacked is built in 6s, that's really nice.

[2020-04-03 21:59] Paragoumba commented on #48
I pushed a first version on the AUR. The link is [https://aur.archlinux.org/packages/open-joystick-display](https://aur.archlinux.org/packages/open-joystick-display).

[2020-04-03 22:03] Paragoumba commented on #48
The CHANGELOG isn't used for now because makepkg expects it to be present before the source archive is downloaded but the one I want to use is in the archive. I'll have to fix that.

[2020-04-03 23:51] KernelZechs commented on #48
@Paragoumba awesome! A few things, I tried it out just to see and I'm getting this installer error

[code]

Furthermore the license is actually a `BSD 4-Clause with Attribution`, an example of this can be found here: https://fedoraproject.org/wiki/Licensing/BSD_with_Attribution

[2020-04-04 16:49] Paragoumba commented on #48
Ok, I fixed some problems but now it doesn't compile anymore with [this stacktrace](https://pastebin.com/WAXRKB7G)

[2020-04-04 19:44] KernelZechs commented on #48
@Paragoumba `/home/paragoumba/.cache/node-gyp/13.12.0/` it's not using node 12 LTS (Latest: 12.16.1), it is using bleeding edge 13 (13.12.0) which isn't supported (this is in the guide).

At this point, I would skip building a binary and use the general linux binary I have on the website (it works in Arch/Manjaro/Gentoo/Fedora/Ubuntu/Mint/etc)  and pack it into the AUR repo as a (BIN) pack. Link:

[2020-04-05 02:40] KernelZechs commented on #48
@Paragoumba here is a working PKGBUILD with the binary in question. Give this a try and let me know. This also has a couple of other modifications:

- Correct License Type
- Remove of Prepare/Build (Not Required)
- Restricted arch to x86_64
- Bumped Package Rel to '2'
- Binary File Install

[code]

[2020-04-13 12:21] FoxyMonty opened #51 "How to make OJD portable?"
On Microsoft Windows 10.

I downloaded the latest portable version and extracted to a folder.
On launch the application is creating folders inside of appdata/roaming.
Is there something I need to do to make the application portable and create all folders within the OJD directory?

On another note, it seems the application says update available when there does not seem to be one.

Was not sure wher

[2020-04-13 13:39] KernelZechs commented on #51
@FoxyMonty

How to build can be found here: https://github.com/KernelZechs/open-joystick-display/blob/master/BUILD.md

By `portable` build it means it doesn't need an installer. Electron by defaults installs configs to the roaming user profile and I'm not going to override this standard configuration.

I will look into why the version is saying there is an update, likely just pulling the wrong tag

[2020-04-13 13:39] #51 closed

[2020-04-14 17:10] LeonLeisten opened #52 "(Pro Controller) OJD doesn't show button presses."
Bug Report
  - Windows 10 Pro (Version: 10.0.18363 Build 18363)
  - OJD v2.8.0

I'm using a Switch Pro Controller (Bluetooth) and it works fine in other programs or games, but OJD doesn't show the button presses. Sometimes OJD showed them for a few seconds but I can't recreate it anymore. The controller is detected by the the Input Tester (see link below).

Screenshots of OJD: https://imgur.com/iJ

[2020-04-14 17:38] KernelZechs commented on #52
This is likely not related OJD but your Bluetooth driver or device. I just tested it on windows 10 (10.0.18363 N/A Build 18363) and it works fine. If OJD is not detecting it in the input tester likely it's not showing up as working in your USB game controllers tester dialog either. Can you confirm this?

[2020-04-14 19:24] LeonLeisten commented on #52
https://imgur.com/a/bbJ2Yc2
^ If I'm using the Windows Controller Tester the inputs are not showing up but it works perfectly fine on https://html5gamepad.com (as seen in image; I'm holding the A-button and the left stick into the up-right direction).

[2020-04-14 19:32] KernelZechs commented on #52
`OJD Server NX` I missed this portion, sorry I didn't catch it earlier. I don't support this software. This sounds like an issue with the server software. I suggest you go make a ticket over at my sister's github and not mine since she writes the server driver for the Server NX. https://github.com/NicholeMattera/OJDS-NX

[2020-04-14 22:11] LeonLeisten commented on #52
Maybe that's a misunderstanding on my side. I just selected the mapping option that had "Nintendo Switch" in it because I'm using a Switch Pro Controller, I don't know anything about that "(Hacked) OJD Server NX" part. I just want to show my local controller and it doesn't seem to work. Did I make a mistake with the mapping or anywhere else?

Also, https://gamepadviewer.com is working, so I'm real

[2020-04-15 01:53] KernelZechs commented on #52
If this is local I can help. @LeonLeisten looking at your screenshot from before, it says its on index 1. Did you try changing the player input on OJD to see if that works for you?

[2020-04-15 12:52] LeonLeisten commented on #52
I tried it and there is no controller connected for players 2-4. The controller that is shown on Player 1 (called "Player 0 - Wireless Gamepad (Vendor: 057e Product: 2009): 16 Buttons, 10 Axes.") is the controller that I am using (it disappears when I disconnect my controller).

It seems that Windows does not recognize the controller, although it works in other programs and games. It is also recog

[2020-04-15 19:47] KernelZechs commented on #52
I can't seem to replicate this on my end with my switch pro controller. At this point since I know this works (and I have reported users that use this controller just fine) this seems like a system configuration issue. If your windows gamepad control panel isn't working with it that is a sign something is wrong. How or why these other tools work with it doesn't make any logical sense to me since t

[2020-04-15 19:47] #52 closed

[2020-04-15 19:51] KernelZechs commented on #48
I'm closing this out since there hasn't been any progress. I do just suggest using the binary package since the current package up on AUR is broken and I'm bound to get support inquiries about it. If you have an update let me know in this ticket, otherwise remove the package from AUR or fix it would be my only plea for my support sanity.

Thanks.

[2020-04-15 19:51] #48 closed

[2020-04-20 09:08] Paragoumba commented on #48
Sorry for being long to respond but I finally fixed the AUR package. I updated it on the AUR, I tested it and it should work now.

[2020-04-20 09:13] Paragoumba opened #53 "[Feature Request] Wiimote mapping"
Is a Wiimote mapping planned? I think it would be useful, even if OJD will probably not show motions a native mapping of the button inputs might be nice.

[2020-04-20 13:31] KernelZechs commented on #53
You can build your own mapping using the mapping tools provided to you. Simply just add a new mapping and assign whatever you need. However, if you're looking for a wiimote theme it's not on the radar but you're free to build your own.

Guides:
Mapper Tutorial: https://ojdproject.com/user-guide#input-mapper
Theme Tutorial: https://ojdproject.com/developer-guide#theme-development

[2020-04-20 13:31] #53 closed

[2020-05-01 22:50] pogun1 opened #55 "Not detecting inputs when using RPCS3"
The program can detect the inputs of my Dualshock 4 controller just fine unless the focused window is RPCS3. Whether it's the main window or the emulated game itself, OJD does not detect any inputs at all unless I click on another window. Only idea I have as to what's causing it is that RPCS3 has it's own Dualshock 4 handler, and doesn't work with any other ones like DS4Windows, so maybe that's ca

[2020-05-04 15:26] KernelZechs commented on #55
@pogun1 looks like RPCS3 is doing device locking and I have no way of controlling that (consider that the problem is RPCS3 and not my application- mine works fine with other emulators/games, if the emulator wants to take control/lock a device I can't help with that). Furthermore I don't support 3rd party drivers as it is a headache to support since everyone's configuration is different, you can re

[2020-05-04 15:26] #55 closed

[2020-05-08 20:53] JettJamez opened #56 "Pro Controller connected via USB doesn't work."
I tried connecting my Switch Pro Controller via USB and it just freaks out. The buttons and axis appear to be going on and off at random, with very little correlation with my actual inputs. I tried different profiles, different themes, I'm not much of a coder so I have NO clue what is going on. Please help!

[2020-05-11 06:50] EternalBlueFlame opened #57 "Enhancement: Option to start in broadcast mode"
**- Concept:**
Provide a start parameter for the program to boot directly into broadcast mode.

**- Example:**
`"/opt/Open Joystick Display/open-joystick-display" %U -broadcast`

**- Primary use:**
I think it would be safe to assume a lot of users use the same controller regularly with infrequent changes, while it's only a minor convenience to skip only having to press escape on start, it would ma

[2020-05-11 11:41] KernelZechs commented on #57
@EternalBlueFlame this already exists, use `--start-broadcast-mode`, this was added in version 2.6.

[2020-05-11 11:41] #57 closed

[2020-05-11 11:48] KernelZechs commented on #56
You haven't provided enough information to help me with your problem. Please review the ticket template and provide me the information required for a support ticket and resubmit.

https://github.com/KernelZechs/open-joystick-display/issues/new?assignees=KernelZechs&labels=&template=standard-bug-feature-theme.md&title=

Furthermore, my Switch Pro Controller works just fine with OJD so this sounds l

[2020-05-11 11:48] #56 closed

[2020-05-12 02:21] zmarotrix opened #58 "Switch Pro Controller Joysticks simply don't work."
I just installed the software and ran it. I switched to the Switch Pro Layout and configured everything I could but the Left jopystick is simply not detected at all and the right Joystick is only detected on one axis. And the axis is wrong.  This persisted through PC restart.

[code]

[2020-05-16 20:12] KernelZechs commented on #58
I am no longer working on this project. This project will be archived. You can find more info here: http://kernelzechs.com/open-joystick-display/

[2020-05-16 20:12] #58 closed

[2020-05-16 20:12] KernelZechs commented on #45
I am no longer working on this project. This project will be archived. You can find more info here: http://kernelzechs.com/open-joystick-display/

[2020-05-16 20:12] #45 closed

[2020-05-16 20:12] KernelZechs commented on #37
I am no longer working on this project. This project will be archived. You can find more info here: http://kernelzechs.com/open-joystick-display/

[2020-05-16 20:12] #37 closed